@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgray;
}

section.normal{
    margin: 10px;
}

section.normal > p{
    padding: 10px 0px;
}

section.flex-content{
    background-color: white;
    padding: 10px 0px;
}

article#media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    margin: 10px;
}

div.text{
    flex: 1 1 500px;
}

div.media{
    flex: auto;
    text-align: center;
}

article#text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px;
}

div.media > iframe{
    width: 100%;
}