@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

body{
    background-image: linear-gradient(to right, #EB34AB, #C04A97, #993B78);
}

header{
    background-color: #E67DBC;
    margin: 10px;
    padding: 10px;
    border: 5px solid black;
    h1{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 10px;
    }
}

header > nav{
    background-color: #6400F5;
    border: 2px solid black;
    padding: 3px;
    a{
        color: white;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
        margin: 90px;
    }

    a:hover{
        text-decoration: underline;
    }

    a:active{
        color: black;
    }
}

main{
    background-color: white;
    border: 5px solid black;
    margin: 10px;
}

main > section{
    background-color: white;
    margin: 5px;
    border: 5px solid black;
}

main > section > h2{
    text-align: center
}

section#links{
    a{
        text-decoration: none;
        color: rgb(121, 0, 0);
    }    
    
    a:hover{
        text-decoration: underline;
    }

    a:active{
        color: black;
    }
}

article{
    text-align: center;
    font-weight: bolder;
}

aside::before{
    content: '❤️';
}

aside::after{
    content: '❤️';
}

footer{
    border: 5px solid black;
    padding-top: 1px;
    margin: 10px;
    background-color: #6400F5;
    text-align: center;
    font-weight: bolder;
}
