@charset "UTF-8";

:root{
    --cor01: #00adf1;
    --cor02: #f1151f;
    --cor03: #3e517a;
    --cor04: #f8c630;

    --fontepadrao: arial, verdana, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(179, 179, 179);
}

header{
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor01));
    min-height: 75px;
    padding-top: 20px;
}

header > h1{
    font-family: var(--fontepadrao);
    margin-left: 10px;
    color: white;
}

header > p{
    font-family: var(--fontepadrao);
    margin-left: 10px;
    color: white;
}


nav{
    background-color: var(--cor01);
    text-align: right;
    padding-bottom: 10px;
}

nav > a{
    margin-left: 50px;
    margin-right: 5px;
    font-family: var(--fontepadrao);
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover{
    background-color: rgba(85, 85, 255, 0.438);
    border-radius: 4px;
    padding: 10px 20px 10px 10px;
    transition-duration: 0.5s;
    color: black;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1300px;
    margin: auto;
    padding: 10px;
}

main h2{
    font-family: var(--fontepadrao);
    text-indent: 10px;
    font-size: 2em;
    margin-bottom: 10px;
}

main p{
    text-indent: 30px;
    font-family: var(--fontepadrao);
}

main img{
    width: 100%;
    margin: 10px 0px;
}

main aside{
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor01));
    border-radius: 10px;
    margin-bottom: 20px;
}

main aside h2{
    background-color: var(--cor03);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}

main aside ul{
    list-style-position: inside;
    font-family: var(--fontepadrao);
}

main aside li{
    margin-left: 10px;
    font-weight: bold;
}

main aside li.espaco{
    margin-left: 30px;
    font-weight: normal;
}

main h3{
    margin-left: 10px;
}

main h3#unidade{
    margin-bottom: 10px;
}

main ul#servicos{
    list-style-position: inside;
    margin-left: 20px;
}

footer{
    background-color: var(--cor03);
    min-height: 150px;
    text-align: center;
    font-family: var(--fontepadrao);
}

footer h3{
    font-family: var(--fontepadrao);
    margin-bottom: 5px;
    margin-left:10px;
}

h3#unidade{
    font-family: var(--fontepadrao);
}

footer a{
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

footer a:hover{
    background-color: rgba(173, 173, 173, 0.466);
    text-decoration: underline;
    transition-duration: 0.5s;
    border-radius: 2px;
}

footer h4{
    margin-top: 10px;
    margin-left: 10px;
}

footer p{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

p#numero{
    color: white;
    margin-top: 0px;
}
